* {
  margin: 0;
  padding: 0;
}
main {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 100px;
  text-align: center;
}
.kolgosp {
  font-size: 30px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
}
.kolgosp span {
  font-size: 40px;
  font-weight: 900;
}
.kolgosp-img {
  width: 80%;
  height: 450px;
  background: black;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}
